Repository ringxworld/story_generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, cxx-format-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: local
    hooks:
      - id: ruff-check-fix
        name: ruff check --fix
        entry: uv run ruff check --fix
        language: system
        types_or: [python]
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types_or: [python]
      - id: cxx-format-check
        name: clang-format --dry-run --Werror
        entry: clang-format --dry-run --Werror
        language: system
        files: ^cpp/.*\.(cpp|hpp|h)$
      - id: py-quality-pre-push
        name: python quality checks (pre-push)
        entry: uv run python -m story_gen.pre_push_checks
        language: system
        pass_filenames: false
        stages: [pre-push]

Adopt MkDocs Pages setup and add API stub
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  Makefile
  README.md
  docs/api.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/story_gen/api/__init__.py
  src/story_gen/api/app.py
  src/story_gen/cli/api.py
  tests/test_api_app.py
  tests/test_cli_entrypoints.py
  tests/test_project_contracts.py
  uv.lock
Due: ruff-check-fix, ruff-format

Rename one-off CLI modules to explicit script names
  pyproject.toml
  src/story_gen/cli/reference_pipeline.py
  src/story_gen/cli/story_collector.py
  src/story_gen/cli/youtube_downloader.py
  tests/test_cli_entrypoints.py
  tests/test_project_contracts.py
  tests/test_reference_pipeline.py
  tests/test_story_collector.py
  tests/test_youtube_downloader.py
Due: ruff-check-fix, ruff-format

Adopt repository guardrails and architecture contracts
  AGENTS.md
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  cpp/include/README.md
  docs/adr/0000-template.md
  docs/adr/0001-repository-guardrails.md
  docs/adr/README.md
  docs/architecture.md
  docs/index.md
  mkdocs.yml
  src/story_gen/adapters/__init__.py
  src/story_gen/core/__init__.py
  src/story_gen/native/__init__.py
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Strengthen testing policy with failure-path coverage
  AGENTS.md
  CONTRIBUTING.md
  tests/test_pre_push_checks.py
  tests/test_project_contracts.py
  tests/test_story_collector.py
  tests/test_youtube_downloader.py
Due: ruff-check-fix, ruff-format

Harden commit and pre-push checks to mirror CI
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  cpp/chapter_metrics.cpp
  pyproject.toml
  src/story_gen/pre_push_checks.py
  src/story_gen/py.typed
  tests/test_pre_push_checks.py
  tests/test_project_contracts.py
  uv.lock
Due: ruff-check-fix, ruff-format, cxx-format-check

Add import-boundary and native smoke checks to quality gates
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  src/story_gen/pre_push_checks.py
  tests/test_import_boundaries.py
  tests/test_native_smoke.py
  tests/test_pre_push_checks.py
  tests/test_project_contracts.py
  tools/check_imports.py
Due: ruff-check-fix, ruff-format

Make cli scripts source-of-truth for one-off workflows
  src/story_gen/cli/reference_pipeline.py
  src/story_gen/cli/story_collector.py
  src/story_gen/cli/youtube_downloader.py
  src/story_gen/reference_pipeline.py
  src/story_gen/story_collector.py
  src/story_gen/youtube_downloader.py
  tests/test_cli_entrypoints.py
  tests/test_reference_pipeline.py
  tests/test_story_collector.py
  tests/test_youtube_downloader.py
Due: ruff-check-fix, ruff-format

Remove duplicate top-level one-off script modules
  src/story_gen/reference_pipeline.py
  src/story_gen/story_collector.py
  src/story_gen/youtube_downloader.py
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Improve code readability with natural intent comments
  cpp/chapter_metrics.cpp
  src/story_gen/api/app.py
  src/story_gen/application/planning.py
  src/story_gen/cli/api.py
  src/story_gen/cli/app.py
  src/story_gen/cli/reference_pipeline.py
  src/story_gen/cli/story_collector.py
  src/story_gen/cli/youtube_downloader.py
  src/story_gen/domain/models.py
  src/story_gen/pre_push_checks.py
  src/story_gen/site_builder.py
  tools/check_imports.py
Due: ruff-check-fix, ruff-format, cxx-format-check

Add Kingdom Hearts thematic reference resource
  work/README.md
  work/resources/kingdom_hearts_metaphysics.md
Due: none

Fix cppcheck STL algorithm warning in chapter metrics
  cpp/chapter_metrics.cpp
Due: cxx-format-check

Add phased NLP dependency groups and A-H artifact contracts
  docs/adr/0002-nlp-stack-and-analysis-contract-scaffold.md
  docs/architecture.md
  mkdocs.yml
  pyproject.toml
  tests/test_project_contracts.py
  work/.gitignore
  work/README.md
  work/contracts/A_corpus_hygiene.json
  work/contracts/B_theme_motif.json
  work/contracts/C_voice_fingerprint.json
  work/contracts/D_character_consistency.json
  work/contracts/E_plot_causality.json
  work/contracts/F_canon_enforcement.json
  work/contracts/G_drift_robustness.json
  work/contracts/H_enrichment_data.json
  work/contracts/README.md
Due: ruff-check-fix, ruff-format

Add local SQLite story API and Pages-compatible deployment plan
  README.md
  docs/adr/0003-pages-static-hosting-and-local-sqlite-api.md
  docs/api.md
  docs/architecture.md
  docs/deployment.md
  mkdocs.yml
  src/story_gen/adapters/sqlite_story_store.py
  src/story_gen/api/app.py
  src/story_gen/cli/api.py
  tests/test_api_app.py
  tests/test_cli_entrypoints.py
  tests/test_project_contracts.py
  tests/test_sqlite_story_store.py
Due: ruff-check-fix, ruff-format

Add DigitalOcean droplet + MinIO deployment blueprint
  README.md
  docs/adr/0005-digitalocean-droplet-and-s3-compatible-storage-plan.md
  docs/deployment.md
  docs/droplet_stack.md
  mkdocs.yml
  ops/.env.example
  ops/Caddyfile
  ops/README.md
  ops/docker-compose.droplet.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Harden pydantic contracts with strict invariants and validators
  src/story_gen/api/app.py
  src/story_gen/api/contracts.py
  tests/test_api_app.py
  tests/test_api_contracts.py
Due: ruff-check-fix, ruff-format

Add story-first feature extraction pipeline with schema-enforced storage
  Makefile
  README.md
  docs/adr/0006-story-first-feature-extraction-and-schema-enforcement.md
  docs/api.md
  docs/architecture.md
  docs/feature_pipeline.md
  mkdocs.yml
  pyproject.toml
  src/story_gen/adapters/sqlite_feature_store.py
  src/story_gen/api/app.py
  src/story_gen/api/contracts.py
  src/story_gen/api/python_interface.py
  src/story_gen/cli/features.py
  src/story_gen/core/story_feature_pipeline.py
  tests/test_api_app.py
  tests/test_cli_entrypoints.py
  tests/test_project_contracts.py
  tests/test_python_interface.py
  tests/test_sqlite_feature_store.py
  tests/test_story_feature_pipeline.py
Due: ruff-check-fix, ruff-format

Add Mermaid architecture and BPMN-style diagrams page
  README.md
  docs/architecture_diagrams.md
  docs/index.md
  docs/javascripts/mermaid.js
  mkdocs.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Enforce frontend coverage gates across CI and pre-push
  .github/workflows/ci.yml
  Makefile
  docs/adr/0007-frontend-coverage-gate.md
  mkdocs.yml
  src/story_gen/pre_push_checks.py
  tests/test_pre_push_checks.py
  tests/test_project_contracts.py
  tests/test_python_interface.py
  web/package-lock.json
  web/package.json
  web/src/App.test.tsx
  web/src/api.test.ts
  web/vitest.config.ts
Due: ruff-check-fix, ruff-format

Add separate good essay mode with strict contracts and routes
  docs/adr/0008-good-essay-mode-product-surface.md
  docs/api.md
  docs/architecture.md
  docs/architecture_diagrams.md
  docs/essay_mode.md
  docs/index.md
  mkdocs.yml
  src/story_gen/adapters/sqlite_essay_store.py
  src/story_gen/api/__init__.py
  src/story_gen/api/app.py
  src/story_gen/api/contracts.py
  src/story_gen/api/python_interface.py
  src/story_gen/core/essay_quality.py
  tests/test_api_app.py
  tests/test_api_contracts.py
  tests/test_essay_quality.py
  tests/test_project_contracts.py
  tests/test_python_interface.py
  tests/test_sqlite_essay_store.py
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/api.test.ts
  web/src/api.ts
  web/src/styles.css
  web/src/types.ts
Due: ruff-check-fix, ruff-format

Add developer setup runbook for local stack
  README.md
  docs/developer_setup.md
  docs/index.md
  mkdocs.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Add cloud-specific docker compose stack templates
  docs/deployment.md
  docs/developer_setup.md
  ops/.env.aws.example
  ops/.env.azure.example
  ops/.env.gcp.example
  ops/README.md
  ops/docker-compose.aws.yml
  ops/docker-compose.azure.yml
  ops/docker-compose.gcp.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Add process-level end-to-end API stack tests
  Makefile
  docs/developer_setup.md
  tests/test_e2e_stack.py
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Harden pre-push with full pre-commit gate and YAML unsafe parse
  .pre-commit-config.yaml
  src/story_gen/pre_push_checks.py
  tests/test_pre_push_checks.py
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Stabilize pre-commit hooks without PATH-dependent uv entries
  .pre-commit-config.yaml
  src/story_gen/pre_push_checks.py
  tests/test_pre_push_checks.py
  tests/test_project_contracts.py
  tools/run_dev_tool.py
Due: ruff-check-fix, ruff-format

Expose and document Swagger, ReDoc, and OpenAPI endpoints
  docs/api.md
  docs/developer_setup.md
  src/story_gen/api/app.py
  tests/test_api_app.py
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Stabilize YAML hook by excluding mkdocs Python-tagged config
  .pre-commit-config.yaml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Add canonical story schema, ingestion, and translation foundation
  src/story_gen/core/language_translation.py
  src/story_gen/core/pipeline_contracts.py
  src/story_gen/core/story_ingestion.py
  src/story_gen/core/story_schema.py
  tests/test_story_intelligence_foundation.py
Due: ruff-check-fix, ruff-format

Add narrative, insight, timeline, and dashboard core pipeline stages
  src/story_gen/core/dashboard_views.py
  src/story_gen/core/insight_engine.py
  src/story_gen/core/narrative_analysis.py
  src/story_gen/core/quality_evaluation.py
  src/story_gen/core/story_analysis_pipeline.py
  src/story_gen/core/story_extraction.py
  src/story_gen/core/theme_arc_tracking.py
  src/story_gen/core/timeline_composer.py
  tests/test_story_analysis_pipeline.py
Due: ruff-check-fix, ruff-format

Add SQLite storage adapter for story intelligence analysis runs
  src/story_gen/adapters/sqlite_story_analysis_store.py
  tests/test_sqlite_story_analysis_store.py
Due: ruff-check-fix, ruff-format

Expose story analysis and dashboard API endpoints
  src/story_gen/api/app.py
  src/story_gen/api/contracts.py
  tests/test_api_app.py
Due: ruff-check-fix, ruff-format

Add interactive story intelligence dashboard UI and API client
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/api.test.ts
  web/src/api.ts
  web/src/types.ts
Due: none

Document story intelligence architecture and API contracts
  docs/adr/0009-story-intelligence-pipeline-and-dashboard-read-models.md
  docs/api.md
  docs/architecture.md
  mkdocs.yml
Due: none

Fix strict typing and apply repository formatting across analysis modules
  src/story_gen/adapters/sqlite_story_analysis_store.py
  src/story_gen/api/app.py
  src/story_gen/core/dashboard_views.py
  src/story_gen/core/insight_engine.py
  src/story_gen/core/language_translation.py
  src/story_gen/core/narrative_analysis.py
  src/story_gen/core/pipeline_contracts.py
  src/story_gen/core/quality_evaluation.py
  src/story_gen/core/story_analysis_pipeline.py
  src/story_gen/core/story_extraction.py
  src/story_gen/core/story_ingestion.py
  src/story_gen/core/story_schema.py
  src/story_gen/core/theme_arc_tracking.py
  src/story_gen/core/timeline_composer.py
  tests/test_api_app.py
  tests/test_sqlite_story_analysis_store.py
  tests/test_story_analysis_pipeline.py
  tests/test_story_intelligence_foundation.py
Due: ruff-check-fix, ruff-format

Refresh uv lockfile for current dependency resolution
  uv.lock
Due: none

Fix ADR file ending for pre-commit compliance
  docs/adr/0009-story-intelligence-pipeline-and-dashboard-read-models.md
Due: none

Add one-command local stack launcher and docs quick start
  Makefile
  README.md
  docs/developer_setup.md
  tools/dev_stack.py
Due: ruff-check-fix, ruff-format

Harden language detection for Japanese and add adversarial regressions
  src/story_gen/core/language_translation.py
  tests/test_story_analysis_pipeline.py
  tests/test_story_intelligence_foundation.py
Due: ruff-check-fix, ruff-format

Add dedicated hot-edit frontend mode on separate port
  Makefile
  README.md
  docs/developer_setup.md
  tests/test_project_contracts.py
  tools/dev_stack.py
  web/package.json
Due: ruff-check-fix, ruff-format

Unify frontend and docs with a shared project brand style system
  README.md
  docs/stylesheets/story_gen_brand.css
  mkdocs.yml
  web/src/styles.css
Due: none
