Repository ringxworld/story_generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, cxx-format-fix, cxx-format-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: local
    hooks:
      - id: ruff-check-fix
        name: ruff check --fix
        entry: uv run ruff check --fix
        language: system
        types_or: [python]
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types_or: [python]
      - id: cxx-format-fix
        name: clang-format -i
        entry: uv run clang-format -i
        language: system
        files: ^cpp/.*\.(cpp|hpp|h)$
      - id: cxx-format-check
        name: clang-format --dry-run --Werror
        entry: uv run clang-format --dry-run --Werror
        language: system
        files: ^cpp/.*\.(cpp|hpp|h)$
      - id: py-quality-pre-push
        name: python quality checks (pre-push)
        entry: uv run python -m story_gen.pre_push_checks
        language: system
        pass_filenames: false
        stages: [pre-push]

Refactor core stage taxonomy and remove repeated stage plumbing
  src/story_gen/core/dashboard_views.py
  src/story_gen/core/insight_engine.py
  src/story_gen/core/narrative_analysis.py
  src/story_gen/core/story_schema.py
  src/story_gen/core/theme_arc_tracking.py
  src/story_gen/core/timeline_composer.py
Due: ruff-check-fix, ruff-format

Annotate alpha translation and extraction heuristics with tracked TODOs
  src/story_gen/core/language_translation.py
  src/story_gen/core/story_extraction.py
Due: ruff-check-fix, ruff-format

Add Docker stack and CI container entrypoints
  .dockerignore
  Makefile
  docker-compose.yml
  docker/api.Dockerfile
  docker/ci.Dockerfile
  docker/web.Dockerfile
Due: none

Add Docker validation job to GitHub CI workflow
  .github/workflows/ci.yml
Due: none

Document Docker workflows and enforce them in repo contracts
  README.md
  docs/adr/0010-docker-local-stack-and-ci-validation.md
  docs/deployment.md
  docs/developer_setup.md
  mkdocs.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Fix CI Docker uv install and enforce Docker build in pre-push checks
  docker/ci.Dockerfile
  src/story_gen/pre_push_checks.py
  tests/test_pre_push_checks.py
Due: ruff-check-fix, ruff-format

Add consistent brand icon system for web studio and docs
  Makefile
  README.md
  docs/adr/0011-brand-icon-system-for-web-and-docs.md
  docs/assets/brand/story-gen-favicon.svg
  docs/assets/brand/story-gen-mark.svg
  docs/developer_setup.md
  mkdocs.yml
  tests/test_project_contracts.py
  tools/generate_brand_icons.py
  web/index.html
  web/public/brand/story-gen-mark.svg
  web/public/favicon.ico
  web/public/favicon.svg
  web/public/icons/apple-touch-icon.png
  web/public/icons/icon-16.png
  web/public/icons/icon-192.png
  web/public/icons/icon-32.png
  web/public/icons/icon-512-maskable.png
  web/public/icons/icon-512.png
  web/public/safari-pinned-tab.svg
  web/public/site.webmanifest
  web/src/App.tsx
  web/src/styles.css
Due: ruff-check-fix, ruff-format

Add offline-capable studio mode with static demo data
  tools/generate_brand_icons.py
  web/index.html
  web/public/site.webmanifest
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/demo_mode.ts
  web/src/offline_demo.tsx
  web/src/styles.css
  web/vite.config.ts
Due: ruff-check-fix, ruff-format

Publish offline studio demo on GitHub Pages with docs
  .github/workflows/deploy-pages.yml
  README.md
  docs/adr/0012-offline-studio-demo-on-github-pages.md
  docs/studio.md
  mkdocs.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Add bounded observability with anomaly retention and tests
  README.md
  docs/adr/0013-bounded-observability-and-anomaly-retention.md
  docs/deployment.md
  docs/developer_setup.md
  docs/observability.md
  mkdocs.yml
  src/story_gen/adapters/observability.py
  src/story_gen/adapters/sqlite_anomaly_store.py
  src/story_gen/api/app.py
  src/story_gen/cli/api.py
  src/story_gen/core/story_analysis_pipeline.py
  tests/test_api_app.py
  tests/test_project_contracts.py
  tests/test_sqlite_anomaly_store.py
Due: ruff-check-fix, ruff-format

Add GitHub collaboration templates and develop-branch CI policy
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
  CONTRIBUTING.md
  README.md
  docs/github_collaboration.md
  mkdocs.yml
  tests/test_project_contracts.py
  tests/test_sqlite_anomaly_store.py
Due: ruff-check-fix, ruff-format

Add deterministic graph layout coordinates and strategy ADR
  README.md
  docs/adr/0014-graph-layout-contract-and-storage-evaluation.md
  docs/graph_strategy.md
  mkdocs.yml
  src/story_gen/api/contracts.py
  src/story_gen/core/dashboard_views.py
  tests/test_api_app.py
  tests/test_project_contracts.py
  tests/test_story_analysis_pipeline.py
  web/src/App.tsx
  web/src/offline_demo.tsx
  web/src/types.ts
Due: ruff-check-fix, ruff-format

Add default-dark theme toggle for studio and offline demo
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/main.tsx
  web/src/offline_demo.tsx
  web/src/styles.css
  web/src/theme.ts
Due: none

Default docs to dark mode and add theme toggle ADR
  README.md
  docs/adr/0015-dark-mode-default-and-toggle.md
  docs/studio.md
  docs/stylesheets/story_gen_brand.css
  mkdocs.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Add ADR for native feature metrics acceleration
  docs/adr/0016-native-feature-metrics-acceleration-path.md
  mkdocs.yml
Due: none

Add story_feature_metrics native executable and docs
  cpp/CMakeLists.txt
  cpp/story_feature_metrics.cpp
  docs/native_cpp.md
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format, cxx-format-fix, cxx-format-check

Add native feature metrics engine for story-features CLI
  src/story_gen/cli/features.py
  src/story_gen/native/__init__.py
  src/story_gen/native/feature_metrics.py
  tests/test_cli_entrypoints.py
  tests/test_native_feature_metrics.py
Due: ruff-check-fix, ruff-format

Define .sgb story bundle format contract and docs
  README.md
  docs/adr/0017-story-bundle-binary-format.md
  docs/story_bundle.md
  mkdocs.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Add binary pack/unpack for story analysis bundles
  src/story_gen/core/story_bundle.py
  tests/test_story_bundle.py
Due: ruff-check-fix, ruff-format

Fix clang-tidy swappable-parameter warning in feature metrics
  cpp/story_feature_metrics.cpp
Due: cxx-format-fix, cxx-format-check

Stabilize CI Docker dependency sync and runtime tooling
  .dockerignore
  .github/workflows/ci.yml
  docker/ci.Dockerfile
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Trim README to developer-focused setup content
  README.md
Due: none

Add PR flow automation commands for feature branches
  Makefile
  README.md
  docs/github_collaboration.md
  tools/pr_flow.py
Due: ruff-check-fix, ruff-format

Enforce PR template sections and CI Pages checks
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/pr-template-check.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Handle GitHub CLI path resolution in PR automation
  tests/test_project_contracts.py
  tools/pr_flow.py
Due: ruff-check-fix, ruff-format

Enforce PR template and Pages checks (#1)
  .dockerignore
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/pr-template-check.yml
  Makefile
  README.md
  cpp/story_feature_metrics.cpp
  docker/ci.Dockerfile
  docs/github_collaboration.md
  tests/test_project_contracts.py
  tools/pr_flow.py
Due: ruff-check-fix, ruff-format, cxx-format-fix, cxx-format-check

Add repo hygiene controls for line endings and cleanup targets
  .gitattributes
  Makefile
  README.md
  docs/developer_setup.md
Due: none

Enforce repository hygiene controls in contract tests
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Tighten repository hygiene and cleanup ergonomics (#13)
  .gitattributes
  Makefile
  README.md
  docs/developer_setup.md
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Require linked issue URLs in PR template
  .github/pull_request_template.md
  .github/workflows/pr-template-check.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Require linked issue URLs in PR template (#17)
  .github/pull_request_template.md
  .github/workflows/pr-template-check.yml
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Add human diction rules for issues and PRs
  AGENTS.md
Due: none

Add human diction rules for issues and PRs (#19)
  AGENTS.md
Due: none

Add human PR review tone guidelines
  AGENTS.md
Due: none

Add human PR review tone guidelines (#21)
  AGENTS.md
Due: none

Align pipeline TODO issue refs with roadmap backlog
  src/story_gen/core/dashboard_views.py
  src/story_gen/core/language_translation.py
  src/story_gen/core/story_extraction.py
  src/story_gen/core/theme_arc_tracking.py
  src/story_gen/core/timeline_composer.py
Due: ruff-check-fix, ruff-format

Align pipeline TODO issue refs with roadmap backlog (#12)
  src/story_gen/core/dashboard_views.py
  src/story_gen/core/language_translation.py
  src/story_gen/core/story_extraction.py
  src/story_gen/core/theme_arc_tracking.py
  src/story_gen/core/timeline_composer.py
Due: ruff-check-fix, ruff-format

Allow compact PR template mode and auto-request reviewer
  .github/pull_request_template.md
  .github/workflows/pr-template-check.yml
  AGENTS.md
  docs/github_collaboration.md
  tests/test_project_contracts.py
  tools/pr_flow.py
Due: ruff-check-fix, ruff-format

Tighten PR status comment style guidance
  AGENTS.md
  tests/test_project_contracts.py
Due: ruff-check-fix, ruff-format

Set wiki sync workflow and make Pages product-first
  .github/workflows/deploy-pages.yml
  Makefile
  README.md
  docs/adr/0018-wiki-docs-and-product-first-pages.md
  docs/adr/README.md
  docs/deployment.md
  docs/github_collaboration.md
  docs/index.md
  docs/studio.md
  docs/wiki_docs.md
  mkdocs.yml
  tests/test_project_contracts.py
  tools/sync_wiki.py
Due: ruff-check-fix, ruff-format
